@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/*heater navegador*/
.navegador{
    background-color: #1E1F26;
    display: flex;
    align-items: center;
    justify-content:space-between;
   
    .logo{
        font-family: 'Chakra Petch', sans-serif;
        font-size: 45px;
        color: #ffff;
        padding:50px ;
        
    }
 
    .enlaces{
      font-size: 30px;
      list-style: none;
      display: flex;
     
      li a{
        color:#bebcbc;
        font-size: 30px;
        text-decoration: none; 
        display:block;
        padding:10px 15px;
      }
    }
    .menu{
      display:none;
    }
    @media(max-width:768px){
  
      .menu{
      display:block;
      margin:40px;
      width: 45px;
      order:-1;
     }
     .menu:hover + ul {
      left: 0;
     }
      .enlaces{
      left: -500px;
      position:fixed;
      top:0;
      width:250px;
      height:100vh;
      background-color: #fafafa;
      flex-direction:column;
      align-items: center;
      padding-top:50px;
      transition: 0.5s;
      li a{
        color:#1c1b1b;
        margin-right:15px;
        cursor: pointer;

      }
     }
     .enlaces:hover{
      left:0;
     }
   }
}



 /*heater index portada*/

 .portada{
    background-image: url(../multimedia/img/johnnyportada.png);
    width: 100%;
    height:450px;
    background-size: cover;
    text-align:center;
    display: grid;
    justify-content: center;
    align-items: center;
    .letras-centrales{
        text-align: center;
        color: #bebcbc;
        font-size: 60px; 
        margin-top:40px;
        cursor: pointer;
     }
     .info{
        color: #f3f0f0;
        text-align:center;
        text-decoration: solid;
        font-size: 70px;
     }
     .info2{
        color: #f3f0f0;
        text-align:center;
        text-decoration: solid;
        font-size: 35px;
    
     }
     .articulo{
        text-align: center;
        padding: 30px;
        color:#1c1b1b;
        .boton{
            background-color: rgb(251, 224, 25);
            font-size: 20px;
            text-decoration: none;
            padding: 20px;
            flex-direction: column;
            border-radius:8px;
            border:0;
            cursor: pointer;
         }
     }
     @media(max-width:768px){
        .letras-centrales{
          font-size: 50px; 
       }
       .info{
          font-size: 60px;
       }
       .info2{
          font-size: 35px;
       }
     }
     @media(max-width:576px){
      .letras-centrales{
        font-size: 40px; 
     }
     .info{
        font-size: 50px;
     }
     .info2{
        font-size: 25px;
     }
   }
 }



 /*heater contactos portada*/
 .portada2{
    background-image: url(../multimedia/img/johnnyportada.png);
    width: 100%;
    height:200px;
    background-size: cover;
    text-align:center;
    display: grid;
    justify-content: center;
    align-items: center;
  .letras-centrales{
      text-align: center;
      color: #bebcbc;
      font-size: 60px; 
      margin:20px;
   }
  }
 /*heater nosotros portada*/
 .portada3{
    background-image: url(../multimedia/img/johnnyportada.png);
    width: 100%;
    height:200px;
    background-size: cover;
    text-align:center;
    display: grid;
    justify-content: center;
    align-items: center;
  .letras-centrales{
      text-align: center;
      color: #bebcbc;
      font-size: 60px; 
      margin:20px;
    }
  }

 /*main index*/

 .mainindex {
  
    text-align: center;
    margin: 35px;
    font-size: 25px;
    color: #3b3b3b;
    .conjunto{
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
     
        div{
          cursor: pointer;
          width:85px;
          height:85%;
          border:solid  #3b3b3b;
          width: 300px;
          border-radius: 5px;
            margin:30px;
            .stratocaster{
              width: 178px;
              margin: 31px;
            }
            .telecaster{
              width: 150px;
              margin: 40px;
            }
            .lespaul{
              width: 150px;
              margin: 40px;
            }
            .casino {
              width: 160px;
              margin: 35px;
            }
            P{
              font-size: 20px;
              color: #b80c0c;
            }
        }
      }   
      @media(max-width:992px){
        .conjunto{
          grid-template-columns: 50% 50%;
          justify-items: center;
        }
      }
      @media(max-width:768px){
        .conjunto{
          grid-template-columns: 50% 50%;
         
        }
      }
      @media(max-width:576px){
        .conjunto{
          grid-template-columns: 100%;
          justify-items: center;
        }
      }
  }

 

 
  /*main contactanos*/
  .maincontactos{
    
    text-align: center;
    margin: 35px;
    font-size: 25px;
    color: #fffcfc;
    .palabra{
      padding: 20px;
      text-align: center;
      font-size: 20px;
      color:#060606;
    }
 
    form{
			background-color: rgb(197, 197, 197);
			border-radius: 10px;
			color: #060606;
			font-size: 15px;
			padding: 20px;
			margin: 0 auto;
      margin-bottom: 30px;
			width: 500px;
      input{
        border: 0;
        outline: none;
        width: 450px;
        padding: 10px;
        .field{
          border: solid 1px #ccc;
        }
      }
      .seleccion{
        margin:20px;
        label{
          padding:10px;
        }
        input{
          margin:0px;
          
        }
      }
		}
		.center-content{
			text-align: center;
      .boton{
        border-radius: 3px;
        display: inline-block;
        padding: 15px 10px;
        margin-top: 15px;
        color: black;
        cursor: pointer;
      }
      .boton:hover{
        background-color: yellow;
      }
		}
  }
 
  /*main nosotros*/
  .mainnosotros{
   margin: 30px;
   
   .valores{
    
    align-items: center;
    text-align:center;
    justify-items: center;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    
    div{
      border:solid  #3b3b3b;
      width:400px;
      height:95%;
      padding:40px;
      font-size:12px;
      border-radius: 5px;
      cursor: pointer;
      img{
        margin:10px;
        width: 65px;
      }
      h4{
        font-size: 25px;
      }
      p{
        text-align: justify;
      }
    }
    div:hover{
      background-color: yellow;
    }
   }
  }



  /*FOOTER*/
  .pie{
    background-color: #1c1b1b;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    font-size: 18px;
    .datos{
        color: #ffffff;;
        font-size: 15px;
        margin: 40px;
        grid-column-start: 1; 
        grid-column-end: 2; 
        span{
            display: block;
            color: #b1afaf;;
            font-size: 15px;
            
           }
       }
       .redes_sociales{
        color:white;
        .redes{
          display: flex;
          .twitter{
         
            width: 35px;
            height: 35px;
            background-size: fill;
            margin-right: 20px;
          }
          .instagram{
         
            width: 35px;
            height: 35px;
            background-size: fill;
            margin-right: 20px;
          }
          .facebook{
         
            width: 35px;
            height: 35px;
            background-size: fill;
            margin-right: 20px;
          }
        }

        
      }
       @media(max-width:768px){
        .datos{
          font-size: 13px;
          margin: 40px; 
          span{
              color: #b1afaf;;
              font-size: 13px;
             }
         }
         .maps{height:85%}
     
      }
      @media(max-width:576px){
        .datos{
          font-size: 13px;
          margin: 40px; 
          span{
              color: #b1afaf;;
              font-size: 10px;
             }
         }
         .maps{
          height:85%;
          width: 70%;
        }
     
      }
  }


  /*Animacion*/
  .galeria{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    h6{
      font-size: 25px;
      margin: 20px;
    }
    #carouselExample{
      width: 50%;
    }
    .carousel-item img{
      object-fit: cover;
      height: 400px;
      margin:20px;
    }
  }
  
  /*Media Responsive*/